<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store-connect</string>
    <key>destination</key>
    <string>upload</string>
    <key>teamID</key>
    <string>DB28SG2U7D</string>
    <key>signingStyle</key>
    <string>manual</string>
    <key>signingCertificate</key>
    <string>10B155442F3720F5D3C98FF15D0C2EAF21D35630</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.onsai.fatelab</key>
        <string>Fate Lab App Store 27 Local</string>
    </dict>
    <key>uploadSymbols</key>
    <true/>
</dict>
</plist>
